* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    background-color: #bf392a;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
}
.bar {
    display: flex;
    justify-content: space-around;
}
.button {
    margin: 0px 10px;
}
.hero {
    display: flex;
    margin: 40px 150px;
}
.hero1 {
    text-align: left;
    align-content: center;
}

.food {
    display: flex;
    justify-content: space-around;
}
.menu h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #bf392a;
}
.food1 {
    background-color: #fff9f5;
    width: 300px;
    height: 280px;
}
.footer {
    background-color: #2b2b2b;
    color: white;
    width: 100%;
    height: 78px;
    align-content: center;
    text-align: center;
}